<!DOCTYPE html>
<html>
  <head>
    <title>client side ejs compiled with express middleware</title>
  </head>
  <body>
    <div>Create Client</div>
    <form method='post'>
      <div>
        <input name='label' type='text' placeholder='client name' />
      </div>
      <div>
        <button>Create</button>
      </div>
    </form>
  </body>
</html>
