<!DOCTYPE html>
<html>
  <head>
    <title>client side ejs compiled with express middleware</title>
  </head>
  <body>
    <div>アカウント登録</div>
    <form method="post">
      <div>
        <input name="name" type="text" placeholder="名前" />
      </div>
      <div>
        <input name="email" type="email" placeholder="メールアドレス" />
      </div>
      <div>
        <input name="pass" type="password" placeholder="パスワード" />
      </div>
      <div>
        <button type="submit">
          SignUp
        </button>
      </div>
    </form>
  </body>
</html>
