<!DOCTYPE html>
<html>

<head>
  <title>client side ejs compiled with express middleware</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="/css/signup.css" rel="stylesheet">
</head>

<body class="text-center">
  <form class="form-signup" method="post">
    <h1 class="h3 mb-3 font-weight-normal">つぶやきったー</h1>
    <label for="inputName" class="sr-only">名前</label>
    <input name="name" type="text" id="inputName" class="form-control" placeholder="名前" required autofocus/>
    <label for="inputEmail" class="sr-only">メールアドレス</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="メールアドレス" required>
    <label for="inputPassword" class="sr-only">パスワード</label>
    <input name="pass" type="password" id="inputPassword" class="form-control mb-3" placeholder="パスワード" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">アカウント登録</button>
  </form>
</body>

</html>
