<!DOCTYPE html>
<html>

<head>
  <title>client side ejs compiled with express middleware</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="/css/apps/create.css" rel="stylesheet">
</head>

<body class="text-center">
  <form class="form-create" method="post">
    <h1 class="h3 mb-3 font-weight-normal">アプリ作成</h1>
    <label for="inputName" class="sr-only">アプリ名</label>
    <input name="name" type="text" id="inputName" class="form-control mb-3" placeholder="アプリ名" required autofocus>
    <button class="btn btn-lg btn-primary btn-block" type="submit">作成</button>
  </form>
</body>

</html>
