<!DOCTYPE html>
<html>

<head>
  <title>client side ejs compiled with express middleware</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
  <form class="form-signin" method="post">
    <h1 class="h3 mb-3 font-weight-normal">つぶやきったー</h1>
    <p class="text-left"><strong><%= app.name %></strong>にアカウントの利用を許可しますか？</p>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="pass" type="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
    <div class="text-left mt-4">
      このアプリケーションは以下の権限を求めています
      <ul>
        <% app.Scopes.forEach(({ scope }) => { %>
          <li><%= scope %></li>
        <% }) %>
      </ul>
    </div>
  </form>
</body>

</html>
