<!DOCTYPE html>
<html>

<head>
  <title>認可管理画面</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">つぶやきったー</a>
    <% if (authenticatedUser) { %>
      <a class="btn btn-outline-primary btn-sm btn-nav" href="/logout" role="button">ログアウト</a>
    <% } %>
  </nav>
  <main role="main" class="container">
    <div class="jumbotron">
      <h1 class="display-4">OAuth2管理画面</h1>
      <% if (authenticatedUser) { %>
        <p class="lead mb-2">Signed in as <%= authenticatedUser.name %></p>
      <% } %>
    </div>
    <div>
      <% if (!authenticatedUser) { %>
        <a class="btn btn-primary btn" href="/login" role="button">ログイン</a>
      <% } %>
      <% if (authenticatedUser) { %>
        <div class="mb-3 text-right">
          <a class="btn btn-primary btn" href="/apps/create" role="button">New App</a>
        </div>
      <% } %>
      <div class="list-group">
        <% apps.forEach(app => { %>
          <a
            href="/apps/<%= app.id %>"
            class="list-group-item list-group-item-action"
          >
            <%= app.name %>
          </a>
        <% }) %>
      </div>
    </div>
  </main>
</body>

</html>
